<ion-content class="ion-padding" color="light">
  <div class="logo-container">
    <img src="assets/img/logo.png" class="logo" alt="YouClass Logo" />
  </div>

  <div class="form-container">
    <ion-item lines="none">
      <ion-input label="Email" label-placement="floating" fill="outline" placeholder="Email"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-input label="Senha" label-placement="floating" fill="outline" placeholder="Senha"></ion-input>
    </ion-item>

    <div class="ion-text-center">
    <!-- Botão Continuar -->
    <ion-button>Continuar</ion-button>

    <!-- Botão Cadastre-se com estilo personalizado -->
    <ion-button>Cadastre-se</ion-button>

    <!-- Botão Login com o Google -->
    <ion-button>login com Google</ion-button>
    </div>
  </div>
</ion-content>
